# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NTUCode\linebot_exam_tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
